/* Whole document: */
body{
  font-family: Courier New;
  font-size: 10pt;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
font-family: Courier New;
  font-size: 14pt;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}